<div class="container">
    <div class="details">
        <app-title title="login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>

                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">should not be empty</div>
                    <div *ngIf="fc.email.errors.email">email is not correct</div>
                </div>
            </div>

            <div class="input-container">
                <label>password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="passWord">
                </div>
                
                    <div class="error-list" *ngIf="fc.passWord.errors && isSubmitted">
                        <div *ngIf="fc.passWord.errors.required">
                            should not be empty
                        </div>
                    </div>
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
